{% extends 'main/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
    <h2>Main page</h2>
    {% if posts %}
        {% for el in posts %}
            <div class="alert alert-warning mt-2">
                <h3>{{ el.title }}</h3>
                <p>{{ el.post }}</p>
                <a href="{% url 'post-detail' el.id %}" class="btn btn-success">Show more...</a>
            </div>
        {% endfor %}
    {% else %}
        <p>No data</p>
    {% endif %}
{% endblock %}